<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <!-- Logo y título -->
      <div class="d-flex logo">
        <a class="nav-link offcanvas-header" routerLink="/home" [queryParams]="{page: 1}"  routerLinkActive="active">
          <img src="https://i.ibb.co/vDbpSQn/logo.png" alt="Icon" width="80" height="80">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Manga World</h5>
        </a>
      </div>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Menú lateral (Offcanvas) -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <img src="https://i.ibb.co/vDbpSQn/logo.png" alt="Icon" width="80" height="80">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Manga World</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr>
        <div class="offcanvas-body">
          <!-- Elementos principales -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
          </ul>
  
          <!-- Barra de búsqueda -->
          <div class="search-container">
            <form class="d-flex" (ngSubmit)="onSearch($event)">
              <div class="input-group">
                <input [(ngModel)]="searchQuery" name="search" class="form-control" type="search" placeholder="Buscar manga..."
                  aria-label="Search" i18n-placeholder>
                <button class="btn btn-outline-success" type="submit" i18n>Buscar</button>
              </div>
            </form>
          </div>
  
          <!-- Configuración -->
          <div class="settings-section">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center mb-3 text-muted">
              <span i18n>Configuración</span>
            </h6>
            <div class="form-check form-switch mb-2">
              <input class="form-check-input" type="checkbox" [checked]="settings().dataSaver" (change)="toggleDataSaver()"
                id="dataSaverSwitch">
              <label class="form-check-label" for="dataSaverSwitch" i18n>Modo ahorro de datos</label>
            </div>
            <div class="form-check form-switch mb-2">
              <input class="form-check-input" type="checkbox" [checked]="settings().nfswEnabled" (change)="toggleNSFW()"
                id="nsfwSwitch">
              <label class="form-check-label" for="nsfwSwitch" i18n>Mostrar contenido NSFW</label>
            </div>
            <div class="form-check form-switch mb-2">
              <input class="form-check-input" type="checkbox" [checked]="settings().theme === 'dark'"
                (change)="toggleTheme()" id="themeSwitch">
              <label class="form-check-label" for="themeSwitch" i18n>Modo oscuro</label>
            </div>
          </div>
          
          <div class="dropdown">
            <button 
              class="btn btn-secondary dropdown-toggle" 
              type="button" 
              id="languageDropdown" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
            >
              {{ selectedLanguage === Language.EN ? 'English' : 
                 selectedLanguage === Language.ES ? 'Español' : 
                 'Français' }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
              <li>
                <a class="dropdown-item" href="#" (click)="$event.preventDefault(); changeLanguage(Language.EN)">
                  English
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" (click)="$event.preventDefault(); changeLanguage(Language.ES)">
                  Español
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" (click)="$event.preventDefault(); changeLanguage(Language.FR)">
                  Français
                </a>
              </li>
            </ul>
          </div>

          <!-- Área de usuario -->
          <div class="user-area">
            <div class="dropdown dropup">
                <a class="user-icon" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://th.bing.com/th/id/R.8e2c571ff125b3531705198a15d3103c?rik=gzhbzBpXBa%2bxMA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-big-image-png-2240.png&ehk=VeWsrun%2fvDy5QDv2Z6Xm8XnIMXyeaz2fhR3AgxlvxAc%3d&risl=&pid=ImgRaw&r=0"
                    alt="Icon-User" width="30" height="30" class="d-inline-block align-text-top">
                </a>
                <ul class="dropdown-menu dropdown-menu-end user-dropdown">
                  <li><a class="dropdown-item" routerLink="/auth" routerLinkActive="active">Log In</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Log out</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>