.page-link {
    cursor: pointer;
  }
  .page-link.disabled {
    cursor: not-allowed;
  }
  .page-input-container {
    padding: 0 0.5rem;
  }
  .page-input {
    width: 60px;
    height: 24px;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }