<main class="container mt-5">
    <h1 class="text-center mb-5" i18n> Los más recientes </h1>
  
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-pagination>

    <div class="row">
      <div *ngFor="let manga of mangas" class="col-md-4 mb-4 d-flex align-items-stretch">
        <app-mang-card [manga]="manga"></app-mang-card>
      </div>
    </div>

    <div *ngIf="noResults" class="text-center">
      <img i18n-alt src="https://i.ibb.co/Lr13MHx/manga-no-encontrado-con-un-personaje-de-anume-chibi.jpg" alt="No Manga Found" class="mb-3 img-fluid" />
    </div>

    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-pagination>
  
  </main>
  